.hidden-xs.divider-lg.pt-20
  %table.table.table-hover
    %thead
      %tr
        %th
          %span.in-grey-600= t('cart.book')
        %th.col-method
        %th
          %span.in-grey-600= t('cart.price')
        %th
          %span.in-grey-600= t('cart.quantity')
        %th
          %span.in-grey-600= t('cart.total')
    %tbody
      - order.order_items.each do |item|
        %tr
          %td
            .general-img-wrap-table
              = image_tag(item.book.image, class: "cart-img-shadow pull-left width-full", alt: "design-book") 
          %td
            %p.general-title= item.book.title
            %p.in-grey-600.font-weight-light= item.book.decorate.short_description
          %td
            %span.font-16.in-gold-500= price_in_currency(item.book.price)
          %td
            %p.ml-30= item.qty
          %td
            %span.font-16.in-gold-500= price_in_currency(order.sub_total )