%main.container.general-main-wrap
  - if current_order.order_items.present?
    %h1.general-title-margin= t('cart.cart')
    .hidden-xs
    = simple_form_for current_order, url: update_carts_path, method: :put, html: { id: 'cart_coupon_form' } do |f|
      %table.table.table-hover
        %tr.no-hover
          %th.col-pic.pl-0
            %span.in-grey-600= t('cart.product')
          %th.col-title
          %th.col-price
            %span.in-grey-600= t('cart.price')
          %th.col-quantity
            %span.in-grey-600= t('cart.quantity')
          %th.col-total
            %span.in-grey-600= t('cart.subtotal')
          %th.col-close
            = f.fields_for :order_items do |ff|
              = render 'cart_engine/carts/items', ff: ff, item: ff.object
      = render 'cart_engine/carts/summary'
      = submit_tag t('cart.checkout'), class: "btn btn-default mb-20 hidden-xs center-block", name: :to_checkout
  - else
    %h1.general-title-margin.text-center= t('cart.no_items')