<!DOCTYPE html>
<html>
<head>
  <title>Cart engine</title>
  <%= stylesheet_link_tag    "cart_engine/application", media: "all" %>
  <%= javascript_include_tag "cart_engine/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if notice%>
  <p class="notice text-center" ><%= notice %></p>
<% end %>
  
<% if alert %>
  <p class="notice text-center" ><%= alert %></p>
<% end %>

<%= yield %>

</body>
</html>
